summary.dashicons.dashicons-editor-help::before {
        content: "\f223";
        font-family: dashicons;
        font-size: 21px;
        color: #000;
        padding: 0px;
        display: flex;
        margin: 3px;
}


summary.land-faqs::before{
 content: "\f223";
 font-family: dashicons;
color: #000;
}